<?xml version="1.0" encoding="UTF-8"?>
<web-app version="6.0" xmlns="https://jakarta.ee/xml/ns/jakartaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd">
    <filter>
        <filter-name>valfilterdemo</filter-name>
        <filter-class>backend.ValidationFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>valfilterdemo</filter-name>
        <url-pattern>/reg</url-pattern>
    </filter-mapping>
    <servlet>
        <servlet-name>regdemo</servlet-name>
        <servlet-class>backend.register</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>regdemo</servlet-name>
        <url-pattern>/reg</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>logindemo</servlet-name>
        <servlet-class>backend.LOgin</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>logindemo</servlet-name>
        <url-pattern>/login</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>logoutdemo</servlet-name>
        <servlet-class>backend.Logout</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>logoutdemo</servlet-name>
        <url-pattern>/logout</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>EditProfileAboutdemo</servlet-name>
        <servlet-class>backend.EditProfileAbout</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>EditProfileAboutdemo</servlet-name>
        <url-pattern>/EditProfileAbout</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>AddEduactionDetailsDemo</servlet-name>
        <servlet-class>backend.addProfileEducationDetails</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AddEduactionDetailsDemo</servlet-name>
        <url-pattern>/AddEducationDetails</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>editEducationDetailsDemo</servlet-name>
        <servlet-class>backend.editProfileEducationDetails</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>editEducationDetailsDemo</servlet-name>
        <url-pattern>/editEducationDetails</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>deleteEducationDetailsDemo</servlet-name>
        <servlet-class>backend.deleteProfileEducationDetails</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>deleteEducationDetailsDemo</servlet-name>
        <url-pattern>/deleteEducationDetails</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>addExperienceDetailsDemo</servlet-name>
        <servlet-class>backend.addExperienceDetails</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>addExperienceDetailsDemo</servlet-name>
        <url-pattern>/AddExperienceDetails</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>editExperienceDetailsDemo</servlet-name>
        <servlet-class>backend.editProfileExperience</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>editExperienceDetailsDemo</servlet-name>
        <url-pattern>/editExperienceDetails</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>deleteExperienceDetailsDemo</servlet-name>
        <servlet-class>backend.deleteProfileExperience</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>deleteExperienceDetailsDemo</servlet-name>
        <url-pattern>/deleteExperienceDetails</url-pattern>
    </servlet-mapping>
    
    <servlet>
         <servlet-name>updateProfilePicdemo</servlet-name>
         <servlet-class>backend.updateProfilePic</servlet-class>
    </servlet>
     <servlet-mapping>
            <servlet-name>updateProfilePicdemo</servlet-name>
            <url-pattern>/updateProfilePic</url-pattern>
    </servlet-mapping>
    <servlet>
         <servlet-name>resumeProfilePicdemo</servlet-name>
         <servlet-class>backend.updateResume</servlet-class>
    </servlet>
     <servlet-mapping>
            <servlet-name>resumeProfilePicdemo</servlet-name>
            <url-pattern>/uploadResume</url-pattern>
    </servlet-mapping>
    <servlet>
         <servlet-name>downloadresumedemo</servlet-name>
         <servlet-class>backend.downloadresume</servlet-class>
    </servlet>
     <servlet-mapping>
            <servlet-name>downloadresumedemo</servlet-name>
            <url-pattern>/downloadresume</url-pattern>
    </servlet-mapping>
    <servlet>
         <servlet-name>applyjobdemo</servlet-name>
         <servlet-class>backend.ApplyForJob</servlet-class>
    </servlet>
     <servlet-mapping>
            <servlet-name>applyjobdemo</servlet-name>
            <url-pattern>/ApplyforJob</url-pattern>
    </servlet-mapping>
    <servlet>
         <servlet-name>deleteappliedjobsdemo</servlet-name>
         <servlet-class>backend.deleteApplyjobs</servlet-class>
    </servlet>
     <servlet-mapping>
            <servlet-name>deleteappliedjobsdemo</servlet-name>
            <url-pattern>/deleteappliedjobs</url-pattern>
    </servlet-mapping>
    <servlet>
         <servlet-name>jobsadddemo</servlet-name>
         <servlet-class>backend.jobsadd</servlet-class>
    </servlet>
     <servlet-mapping>
            <servlet-name>jobsadddemo</servlet-name>
            <url-pattern>/jobsadd</url-pattern>
    </servlet-mapping>
    <servlet>
         <servlet-name>SimpleJobSearchdemo</servlet-name>
         <servlet-class>backend.SimpleJobSearch</servlet-class>
    </servlet>
     <servlet-mapping>
            <servlet-name>SimpleJobSearchdemo</servlet-name>
            <url-pattern>/SimpleJobSearch</url-pattern>
    </servlet-mapping>
    <servlet>
         <servlet-name>SimpleJobSearchByLocationdemo</servlet-name>
         <servlet-class>backend.SimpleJobSearchByLocation</servlet-class>
    </servlet>
     <servlet-mapping>
            <servlet-name>SimpleJobSearchByLocationdemo</servlet-name>
            <url-pattern>/SimpleJobSearchByLocation</url-pattern>
    </servlet-mapping>
    <servlet>
         <servlet-name>checkCookiedemo</servlet-name>
         <servlet-class>backend.checkCookie</servlet-class>
    </servlet>
     <servlet-mapping>
            <servlet-name>checkCookiedemo</servlet-name>
            <url-pattern>/checkCookie</url-pattern>
    </servlet-mapping>
     <servlet>
         <servlet-name>contactusdemo</servlet-name>
         <servlet-class>backend.contactUs</servlet-class>
    </servlet>
     <servlet-mapping>
            <servlet-name>contactusdemo</servlet-name>
            <url-pattern>/contactUs</url-pattern>
    </servlet-mapping>


</web-app>
